body {
    font-family: arial;
    color: white;
    text-align: center;
}
            
h1, h2, h3 {
    background-color: #0098F8;
}
            
p {
    background-color: #1d1d1d;
    border: 3px solid;
    border-color: #0098F8;
}

.warning {
    color: yellow;
}
            
a {
    text-decoration: none;
}
            
a:link {
    color: #0098F8;
}
            
a:visited {
    color: #8750ed;
}
            
a:hover {
    color: #45b7ff;
}

img {
    border: 3px solid;
    border-color: #0098F8;
    max-height: 90%;
    max-width: 90%;
    display: block;
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.version {
    text-decoration: underline;
}